* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
}
main {
  flex: 1 0 auto;
  min-width: 0;
}

/* --------------------------------------------------Header-------------------------------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: linear-gradient(92.41deg, #003d32, #04734b);
}

h1 {
  color: white;
}

#header-nav {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 17px;
}

/* --------------------------------------------------Body-------------------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
}

#product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}

#product-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  gap: 10px;
}

#product-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

#img-bought-together-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bought-together-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(173, 216, 230, 0.377);
  margin: 20px;
}

#bought-together-product-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 60px 10px 10px 10px;
  gap: 20px;
}

#bought-together-product-2 {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 60px 10px 10px 10px;
  gap: 20px;
}
#bought-together-product-3 {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
  gap: 20px;
}
#bought-together-product-4 {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
  gap: 20px;
}

#bought-together-img {
  width: 100%;
  max-height: 200px;
  height: auto;
}

#product-info {
  width: 100%;
  max-width: 750px;
}

#product-info-container {
  padding: 10px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 0.3fr 1fr 0.4fr;
  align-items: center;
  justify-content: center;
  background-color: rgba(173, 216, 230, 0.377);
}

#product-reviews-container {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(173, 216, 230, 0.377);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#product-title {
  padding: 10px;
}

#product-desc-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#product-desc {
  padding: 5px 0 5px 0;
  font-size: 17px;
}

ul {
  width: 90%;
}

#quantity-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

#quantity-text {
  padding: 15px;
  font-size: 20px;
}

#quantity {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  background-color: rgba(211, 211, 211, 0.39);
  padding: 15px 5px 15px 5px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 10px;
}

#buy-add-btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

#submit-btn {
  margin: 10px;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  background-color: #ffa600;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

#submit-btn:hover {
  background-color: #c48002;
}

#submit-btn:active {
  animation: size 0.1s linear;
}

#product-price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  background-color: rgba(211, 211, 211, 0.39);
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 10px;
}

#buy-now-btn {
  margin: 10px;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  background-color: #fbff00;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

#buy-now-btn:hover {
  background-color: #bdc000;
}

#buy-now-btn:active {
  animation: size 0.1s linear;
}

#add-to-basket-btn {
  margin: 10px;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  background-color: #ffa600;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

#add-to-basket-btn:hover {
  background-color: #c48002;
}

#add-to-basket-btn:active {
  animation: size 0.1s linear;
}

#leave-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(173, 216, 230, 0.795);
  width: 90%;
}

#inserted-review {
  display: flex;
  flex-direction: row;
}

#review-info-container {
  background-color: rgb(231, 231, 231);
  padding: 10px 30px 10px 30px;
  margin: 10px;
  border-radius: 10px;
  max-width: 80%;
  overflow-wrap: break-word;
}

#product-review-insert {
  width: 90%;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

#review-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

#name-input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}

#review-input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  max-width: 300px;
  height: 120px;
  resize: vertical;
  white-space: pre-wrap;
  box-sizing: border-box;
}

#inserted-review-name {
  border: 1px solid lightgray;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#inserted-review-content {
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

/* --------------------------------------------------Footer-------------------------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: linear-gradient(92.41deg, #003d32, #04734b);
  color: white;
}

#footer-title {
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 30px 15px 30px 15px;
  padding: 10px;
}

#header-nav:hover {
  background-color: rgb(160, 160, 160);
}

/* --------------------------------------------------Media-------------------------------------------------------------- */

@media (max-width: 1350px) {
  #product-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  #product-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  ul {
    width: 90%;
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
  }
  #buy-add-btns-container {
    display: flex;
    flex-direction: column;
  }
  input {
    display: flex;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  #header-nav {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
  }
}

@keyframes size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

@media (max-width: 700px) {
  #bought-together-product-4 {
    padding: 0;
    margin: 0;
  }
  #bought-together-product-3 {
    padding: 0;
    margin: 0;
  }
  #bought-together-product-2 {
    padding: 0;
    margin: 0;
  }
  #bought-together-product-2 {
    padding: 0;
    margin: 0;
  }
}
